  .Countries-items {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: 1.5em;
    display: grid;
    padding-top: 30px;
    background-color: #3B2D47;
  }
  @media only screen and (max-width: 600px) {
    .Countries-items {
        grid-template-columns: repeat(1, 1fr);
      }
  }
  .Countries-item {
    text-decoration: none;
    box-shadow: 8px 14px 38px rgba(255, 255, 255, 0.06), 1px 3px 8px rgba(251, 253, 255, 0.03);
    border-radius: 5px;
    margin: 0 0 0 0;
    position: relative;
  }
  .Countries-item-info {
    padding: 10px;
  }
  .Countries-item-info h2 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #FF4545;
  }
  .Countries-item-info p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
  }
  .Countries-item img {
    width: 100%;
    height: 50px;
    border-radius: 5px 5px 0 0;
    object-fit: contain;
  }
  .Countries-item section{
      text-align: center;
  }

  .Countries-borders {
    margin-bottom: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    grid-row-gap: 1.5em;
    display: grid;
  }
